<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="true" />
		<link rel="stylesheet" href="{{ asset('bundles/style/css/bootstrap.css') }}" />

		<title>Formulaire d'inscription</title>
	</head>

	<body>
		<div class="container">

			<!-- inclusion de la page menu.html-->
			{% include 'commun/menu.html' %}

			<!-- //Corps -->
			<div class="jumbotron">
				<div >
					{{ info }}
				</br>
				</div>

			  <form class="inscription" action="/inscription" method="post">

				<label for="inputUserName class="sr-only">Nom d'Utilisateur</label>
				<input type="text" name="pseudo" class="form-control" {% if pseudo != '' %} value={{ pseudo }} {% endif %} placeholder="Nom d'Utilisateur" required autofocus>

				<label for="inputPassword" class="sr-only">Mot de passe</label>
				<input type="password" name="pass"  class="form-control" {% if pass != '' %} value={{ pass }} {% endif %} placeholder="Mot de passe" required autofocus>

				<label for="inputPassword" class="sr-only">Confirmer le mot de passe</label>
				<input type="password" name="passConf"  class="form-control" {% if passConf != '' %} value={{ passConf }} {% endif %} placeholder="Confirmer le mot de passe" required autofocus>

				<label for="inputUserName class="sr-only">Email</label>
				<input type="text" name="mail" class="form-control" {% if mail != '' %} value={{ mail }} {% endif %} placeholder="Adresse Mail" required autofocus>

				<button type="submit">S'inscrire</button>
			  </form>
			</div> <!-- /jumbotron -->
		</div> <!-- /container -->

		<!-- inclusion de la page piedDePage.html-->
			{% include 'commun/piedDePage.html' %}
	</body>
</html>
